.grid {
    display: grid;
    position: relative;
    margin: auto;
    grid-template-areas:    "site-header    site-header"
                            "page-header    page-header"
                            "page-desc      page-desc"
                            "main	        side-bar"
                            "footer	        extra";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 150px 150px 100px 5fr 80px;
    grid-gap: 10px;
    font-family: 'Lato', sans-serif;

}

a {
    color: black;
    text-decoration: none;
}

.site-header {
    grid-area: site-header;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: center;
    letter-spacing: 0.02em;
}

.site-header h1 {
    letter-spacing: 0.02em;
    word-spacing: 0.15em;
    font-size: 30pt;
}

.site-header span {
    padding-left: 0.25em;
    font-size: 24pt;
    text-transform: uppercase;
}

.site-nav {
    letter-spacing: 0.1em;
    border-top: 0.7px solid #000;
    border-bottom: 2px solid #000;
    font-size: 12pt;
    font-style: italic;
    margin: 2px 0;
}

.site-nav li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
}
  
.page-header {
    grid-area: page-header;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 40px 0;
}

.page-header .page {
    font-size: 12pt;
    font-style: italic;
    color: #000;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    letter-spacing: 0.08em;
}

.page-header .upper {
    font-size: 24pt;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
}

.page-header hr {
    width: 20%;
    opacity: 0.4;
}

.page-desc {
    grid-area: page-desc;
    margin: 0 5vw 0 10vw;
    padding: 0;
    font-size: 16pt;
    line-height: 1.4;
    word-spacing: 0.12em;
}

main {
    grid-area: main;
    margin: 0 40px 20px 10vw;
    padding: 0;
}

main h2 {
    margin: 40px 0 0 0;
    padding: 0;
}

main p {
    font-size: 14pt;
    line-height: 1.4;
    word-spacing: 0.12em;
}

main hr {
    margin: 0;
    padding: 0;
    opacity: 0.6;
}

.pull-quote {
    font-size: 14pt;
    font-style: italic;
    word-spacing: 0.12em;
    margin: 0 40px;
    padding: 0;
}
  
.side-bar {
    display: grid;
    grid-template: 200px 600px 600px / 1fr;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
    
    grid-area: side-bar;
    width: 350px;

    margin: 30px 5vw 0 0;
    padding: 0;
}

.container {
    border: 1px solid beige;
    border-radius: 4px;
    background-color: beige;
}

.side-bar img {
    border-radius: 11px;
    width: 325px;
    margin: 0;
    padding: 20px;
}

.side-bar span {
    text-align: center;
}

.side-bar p {
    padding: 0 0 15px 0;
}

.page-nav {
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    width: 345px;
    margin: 0 12px;
    padding: 5px 0 25px 0;
    word-spacing: 0.12em;
}

.page-nav ul {
    margin: 0 0 0 35px;
}

.page-nav h3 {
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
}

.page-nav a {
    font-size: 14pt;
    text-align: left;
    line-height: 1.4;
}
  
footer {
    grid-area: footer;
    margin: 0 50px 20px 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

footer div {
    border: 1px solid dodgerblue;
    border-radius: 2px;
    background-color: dodgerblue;
    display: inline-block;
    /*margin: 10px 30px 30px 0;*/
    padding: 10px;
    letter-spacing: 0.02em;
    position: relative;
}

footer div:active {
    top: 2px;
}

.upper {
    text-transform: uppercase;
}