* {
    box-sizing: border-box;
}

head {
}

body {
    margin: 2em 0;
    font-family: 'Lato', sans-serif;
}

.upper {
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

header {
}

.top h1 {
    text-align: center;
    letter-spacing: 0.02em;
}

.top span {
    padding-left: 0.25em;
    font-size: 0.8em;
    text-transform: uppercase;
}

.site-nav {
    border-top: 0.7px solid #000;
    border-bottom: 1.5px solid #000;
    text-align: center;
    margin: 30px 0;
}

.site-nav li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
}

.header-wrapper {
    position: relative;
    text-align: center;
}

.page-header {
    margin: 0;
    padding: 0;
}

.page-header .page {
    font-size: 1.3em;
    color: #000;
    opacity: 0.5;
}

.page-header .upper {
    position: relative;
    margin: 0;
    padding: 0;
}

.page-header hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-nav {
    border: 1px solid black;
    float: right;
    font-family: 'Lato', sans-serif;
}

.page-nav h3 {
    text-align: center;
}
.page-nav li {
    font-size: 1.5em;
}

main {
    position: relative;
    margin: 5vh auto auto auto;
    padding: 0;
    max-width: 85vw;
    font-size: 1.5em;
    word-spacing: 0.05em;
}

main span {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-align: center;
    border: 2px solid black;
}

img {
    padding: 10px;
    margin: 10px;
}

article p {
    letter-spacing: 0.01em;
    font-family: 'Open Sans', serif;
    padding: 15px 0;
    margin: 15px 0;
    word-spacing: 0.05em;
}

article div {
    margin: 0;
}

article h2 {
    margin: 0;
    padding-top: 10px;
}

.pull-quote {
    font-family: 'Open Sans', serif;
    font-size: 18pt;
    padding: 0 5%;
    margin: 20px 0;
    font-style: italic;
}

footer {
    margin: 40px;
    padding: 0;
}